Language: Cpp
BasedOnStyle: Google

SortIncludes: Never
AllowShortEnumsOnASingleLine: false

IndentWidth: 4
TabWidth: 4
ColumnLimit: 90
MaxEmptyLinesToKeep: 2

SeparateDefinitionBlocks: Always
AlwaysBreakAfterDefinitionReturnType: TopLevel
