.cache/
.target/
.idea/
.code/


compile_commands.json


# Build output
.deps/
src/*.o
src/.deps/
src/.dirstamp
autom4te.cache/

compile
missing
stamp-h1
install-sh
depcomp

sftp_cli
sftp_cli-sftp.o
sftp_cli_config.h
sftp_cli_config.h.in

config.log
config.status

Makefile
Makefile.in
